# Created by venv; see https://docs.python.org/3/library/venv.html
# ----------------------------------------
# Python
# ----------------------------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/

# Arquivos de configuração locais
.env
**/.env
config.py
**/.config.py

# Logs e temporários
*.log
*.tmp
*.bak
*.swp
*.DS_Store

# Jupyter / IPython
.ipynb_checkpoints/
*.ipynb~

# Streamlit cache
.streamlit/

# Ambiente virtual
venv/
.env/
.venv/

# IDEs
.vscode/
.idea/

# Outros arquivos que não precisam ir para o Git
*.sqlite3
*.db
